::ng-deep .mdc-form-field label {
  margin-bottom: 0 !important;
}

.form-question {
  align-items: center;
}

.form-question label {
  display: inline-block !important;
  margin-bottom: 0;
}

::ng-deep .mat-mdc-radio-group {
  margin: 0.5rem 0
}

@media screen and (max-width: 545px) {
  button {
    margin-top: 1rem;
  }
}


.button{
  width: 100%;
  height: 10%;
  background-color: #4DFFB2;
}