<!-- <button routerLink="">Component Paths</button>
<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->

<div class="container d-flex">
    <div class="row flex-grow-1 align-items-center justify-content-center">
      <div class="col-lg-10">
        <mat-card class="soundsAndNotificationsCard align-items-center">
  
  
          <mat-card-header class="header">
            <mat-card-title>Sounds and Notifications</mat-card-title>
  
          </mat-card-header>
  
          <mat-card-content class="soundsAndNotificationsContent">
            <hr mat-line class="line">

  
  
            <div class="container-fluid h-100">
              
                <mat-radio-group>
                    <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <mat-label class="text">App Notifications</mat-label>
                          <div class="d-flex">
                            <mat-label class="setting">On</mat-label>
                          </div>
                          <div class="d-flex">
                            <mat-label class="setting">Off</mat-label>
                          </div>
                        </div>
                        
                        <div class="align-self-end d-flex flex-column align-items-end">
                          <mat-radio-button></mat-radio-button>
                          <mat-radio-button></mat-radio-button>
                        </div>
                      </div>
                    </mat-radio-group>
              
            

            <hr mat-line class="line">


            <mat-radio-group>
            <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <mat-label class="text">Messenger Notifications</mat-label>
                  <div class="d-flex">
                    <mat-label class="setting">On</mat-label>
                  </div>
                  <div class="d-flex">
                    <mat-label class="setting">Off</mat-label>
                  </div>
                </div>
                
                <div class="align-self-end d-flex flex-column align-items-end">
                  <mat-radio-button></mat-radio-button>
                  <mat-radio-button></mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
              


                <hr mat-line class="line">


            
                <mat-radio-group>
                    <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <mat-label class="text">Group Requests</mat-label>
                          <div class="d-flex">
                            <mat-label class="setting">On</mat-label>
                          </div>
                          <div class="d-flex">
                            <mat-label class="setting">Off</mat-label>
                          </div>
                        </div>
                        
                        <div class="align-self-end d-flex flex-column align-items-end">
                          <mat-radio-button></mat-radio-button>
                          <mat-radio-button></mat-radio-button>
                        </div>
                      </div>
                    </mat-radio-group>
                <hr mat-line class="line">


                <mat-radio-group>
                    <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <mat-label class="text">Sounds</mat-label>
                          <div class="d-flex">
                            <mat-label class="setting">On</mat-label>
                          </div>
                          <div class="d-flex">
                            <mat-label class="setting">Off</mat-label>
                          </div>
                          <div class="d-flex">
                            <mat-label class="setting">Vibrate</mat-label>
                          </div>
                        </div>
                        
                        <div class="align-self-end d-flex flex-column align-items-end">
                          <mat-radio-button></mat-radio-button>
                          <mat-radio-button></mat-radio-button>
                          <mat-radio-button></mat-radio-button>
                        </div>
                      </div>
                    </mat-radio-group>
                
              
            </div>

            
  
  
  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <!-- </html> -->