<!-- <button routerLink="">Component Paths</button>
<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->

<div class="container d-flex">
    <div class="row flex-grow-1 align-items-center justify-content-center">
      <div class="col-lg-10">
        <mat-card class="fontSizeCard align-items-center">
  
  
          <mat-card-header class="header">
            <mat-card-title>Font Size</mat-card-title>
  
          </mat-card-header>
  
          <mat-card-content class="fontSizeContent">
            <hr mat-line class="line">

  
  
            <div class="container-fluid h-100">
              
              <mat-radio-group>
              <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                <mat-label class="small">Small</mat-label>
                <div class="align-self-end">
                    <mat-radio-button></mat-radio-button>
                </div>
              </div>
              
            

            <hr mat-line class="line">


            
                <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                    
                  <mat-label class="normal">Normal</mat-label>
                  <div class="align-self-end">
                      <mat-radio-button></mat-radio-button>
                  </div>
                </div>


                <hr mat-line class="line">


            
                <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                    
                  <mat-label class="large">Large</mat-label>
                  <div class="align-self-end">
                      <mat-radio-button></mat-radio-button>
                  </div>
                </div>
                <hr mat-line class="line">


                <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                    
                    <mat-label class="huge">Huge</mat-label>
                    <div class="align-self-end">
                        <mat-radio-button></mat-radio-button>
                    </div>
                  </div>
                
              </mat-radio-group>
              
            </div>

            
  
  
  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <!-- </html> -->