

<div class="form-container">
  <form [formGroup]="initGoalForm" (ngSubmit)="getEntry()">
    <div class="box">
      <h1 class="header">Fitness Goals</h1>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>What is your primary goal?</mat-label>
        <mat-select formControlName="initialGoal" disableRipple>
          <mat-option value="loseweight">Lose Weight</mat-option>
          <mat-option value="gainweight">Gain Weight</mat-option>
          <mat-option value="gainmuscle">Gain Muscle</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Select activity level here: (workouts per week)</mat-label>
        <mat-select [(value)]="activityDropDown" formControlName="initialActivityLevel" disableRipple>
          <mat-option value="Low">0-3</mat-option>
          <mat-option value="Medium">3-5</mat-option>
          <mat-option value="High">5-7</mat-option>
        </mat-select>
      </mat-form-field>

      <!--mat form field, mat label, mat select/drop-down with mat-options -->
      <mat-form-field appearance="outline" class="form-group">
        <mat-label class="question">Any Disabilities?</mat-label>
        <mat-select class="dropDown" id="disabilities" formControlName="disabilities" required>
          <mat-option disabled value="" selected>Select an option</mat-option>
          <mat-option *ngFor="let option of disabilities" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="form-group" appearance="outline">
        <mat-label>Leave a descriptive list here:</mat-label>
        <textarea matInput type="text" class="form-control" formControlName="DisabilityText"
          placeholder="Ex. bad heart, lost limb, etc." required></textarea>
      </mat-form-field> -->

      <div class="form-group form-question">
        <label>Any food allergies? If yes, please list them.</label>
        <mat-radio-group aria-label="Option 2" formControlName="AllergyCheck" required>
          <mat-radio-button inputType='radio' value="Yes" (click)='toggleEnableAllergy()'>Yes</mat-radio-button>
          <mat-radio-button inputType='radio' value="No" (click)='toggleDisableAllergy()'>No</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Leave a descriptive list here:</mat-label>
        <textarea matInput type="text" class="form-control" formControlName="AllergyText"
          placeholder="Ex. seafood, gluten, etc." required></textarea>
      </mat-form-field>

      <div class="button-group">
        <button mat-flat-button (click)="navigate()"color="primary" class="button" [disabled]="!initGoalForm.valid"
          type="submit">Continue</button>
      </div>

    </div>
  </form>
  <div class="colored-pane">
    <button class = "secretbutton" (click) = "navigate()"></button>

  </div>
</div>