<div class="form-container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="box">
      <h1 class="header">Change Password</h1>
      <!--We need to confirm the user's original password-->
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput type="text" class="form-control" formControlName="currentPassword" required>
      </mat-form-field>
      <!--New Password entry box, make it required, formControlName = newPassword-->
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="text" class="form-control" formControlName="newPassword" required>
      </mat-form-field>
      <!--Confirm Password entry box, make it required, formControlName = confirmPassword-->
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="text" class="form-control" formControlName="confirmPassword" required>
      </mat-form-field>
      <!--Button is angular material also added a mattooltip module so when user hovers over button (and form is not valid) 
            the user will be aware that they need to add all form fields before they can submit-->
      <div class="tool-tip w-100" matTooltip="Please fill out all required fields"
        [matTooltipDisabled]="changePasswordForm.valid">
        <button mat-flat-button color="primary" class="submit-button w-100" type="submit"
          [disabled]="!changePasswordForm.valid">Submit</button>
      </div>
    </div>
  </form>
  <div class="colored-pane"></div>
</div>