<div class="container d-flex">
    <div class="row flex-grow-1 align-items-center justify-content-center">
        <div class="col-lg-10">
            <mat-card>
                <mat-card-header class="header">
                    <mat-card-title>Calorie Information</mat-card-title>
                </mat-card-header>
                <mat-card-content class="h-100">
                    <div class="row h-100">
                        <div class="col-md">
                            <div class="row w-100 d-flex justify-content-center align-items-center">
                                <h2>Calendar:</h2>
                                <mat-calendar class="calendar" [(selected)]="selectedDate"
                                    (selectedChange)="onDateChange($event)"></mat-calendar>
                            </div>
                            <div class="row w-100" *ngIf="showGraphToggle">
                                <h2>Calorie Info Chart on {{selectedDateString}}</h2>
                                <div class=" chart-container">
                                    <canvas id="calorieInfoChart">
                                        {{ calorie_info_chart }}
                                    </canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="row w-100">
                                <!-- <ng-container *ngIf="dataSource.data.length>0; else noData"> -->
                                <h2>Food eaten on {{ selectedDateString }}:</h2>
                                <button mat-flat-button color="primary" (click)="goToAnotherPage('foodentry')">
                                    Add Nutrition Info
                                </button>
                                <mat-table [dataSource]="dataSource" class="rounded shadow mt-3">
                                    <!-- Define the columns -->
                                    <ng-container matColumnDef="foodName">
                                        <mat-header-cell *matHeaderCellDef> Food </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.foodName }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="carbs">
                                        <mat-header-cell *matHeaderCellDef> Carbs </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.carbs }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="fats">
                                        <mat-header-cell *matHeaderCellDef> Fats </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.fats }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="proteins">
                                        <mat-header-cell *matHeaderCellDef> Proteins </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.proteins }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="calories">
                                        <mat-header-cell *matHeaderCellDef> Calories </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.calories }} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="createdAt">
                                        <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{ row.createdAt | date:'shortTime' }}
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                                <!-- </ng-container> -->
                                <!-- <ng-template #noData>
                                    <h2>No calorie history on {{ selectedDateString }}</h2>
                                </ng-template> -->
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>