body {
    background: #D0E8D7;
    border-radius: 25px;
    position: absolute;
    left: 33.81%;
    right: 1.57%;
    top: 9.96%;
    bottom: 1.07%;
}

mat-grid-tile {
    font-family: 'NATS';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    letter-spacing: 0.44px;
    color: #002112;
}

h1 {
    color: black;
    font-size: 30px;
}

mat-grid-tile-header {
    position: absolute;
    left: 37.01%;
    right: 36.81%;
    top: 12.6%;
    bottom: 84.77%;

    font-family: 'NATS';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 48% */

    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    color: #002112;
}

.calories {
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}

figcaption {
    font-size: 15px;
}