<!-- <button routerLink="">Component Paths</button>
<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> -->

<div class="container d-flex">
    <div class="row flex-grow-1 align-items-center justify-content-center">
      <div class="col-lg-10">
        <mat-card class="GroupSettingCard align-items-center">
  
  
          <mat-card-header class="header">
            <mat-card-title>Group Settings</mat-card-title>
  
          </mat-card-header>
  
          <mat-card-content class="GroupSettingContent">
            <hr mat-line class="line">

  
  
            <div class="container-fluid h-100">
              
                <mat-radio-group>
                    <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <mat-label class="text">Manage Permission</mat-label>
                        </div>
                    </div>
                </mat-radio-group>                          

            <hr mat-line class="line">

            <mat-radio-group >
                <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                    <div class="d-flex flex-column">
                      <mat-label class="text">Leave Group</mat-label>
                    </div>
                    
                    <div className="buttons" class="align-self-end d-flex align-items-end">
                        <button mat-flat-button color="primary">
                            <mat-icon class="m-0">done</mat-icon>
                        </button>
                        <button mat-flat-button color="warn">
                            <mat-icon class="m-0">close</mat-icon>
                        </button>
                    </div>
                  </div>
                </mat-radio-group>

                <hr mat-line class="line">
            
                <mat-radio-group>
                    <div class="py-2 cur-pointer overflow-auto d-flex justify-content-between">
                        <div class="d-flex flex-column">
                          <mat-label class="text">Delete Group</mat-label>
                        </div>
                        
                        <div class="align-self-end d-flex align-items-end">
                            <button mat-flat-button color="primary">
                                <mat-icon class="m-0">done</mat-icon>
                            </button>
                            <button mat-flat-button color="warn">
                                <mat-icon class="m-0">close</mat-icon>
                            </button>
                        </div>
                      </div>
                    </mat-radio-group>

            </div>
  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <!-- </html> -->