$md-primary: (
    50 : #e0ede9,
    100 : #b3d3c8,
    200 : #80b6a3,
    300 : #4d987e,
    400 : #268262,
    500 : #006c46,
    600 : #00643f,
    700 : #005937,
    800 : #004f2f,
    900 : #003d20,
    A100 : #73ffae,
    A200 : #40ff91,
    A400 : #0dff73,
    A700 : #00f266,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #eaeceb,
    100 : #cad0cc,
    200 : #a7b1ab,
    300 : #839289,
    400 : #697a6f,
    500 : #4e6356,
    600 : #475b4f,
    700 : #3d5145,
    800 : #35473c,
    900 : #25352b,
    A100 : #80ffb3,
    A200 : #4dff94,
    A400 : #1aff76,
    A700 : #01ff66,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-tertiary: (
    50 : #e8ecee,
    100 : #c5d1d5,
    200 : #9eb2b9,
    300 : #77939c,
    400 : #597b87,
    500 : #3c6472,
    600 : #365c6a,
    700 : #2e525f,
    800 : #274855,
    900 : #1a3642,
    A100 : #83d9ff,
    A200 : #50c9ff,
    A400 : #1dbaff,
    A700 : #03b2ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f7e4e4,
    100 : #eababa,
    200 : #dd8d8d,
    300 : #cf5f5f,
    400 : #c43c3c,
    500 : #ba1a1a,
    600 : #b31717,
    700 : #ab1313,
    800 : #a30f0f,
    900 : #940808,
    A100 : #ffc1c1,
    A200 : #ff8e8e,
    A400 : #ff5b5b,
    A700 : #ff4141,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);