<!--Create 5 buttons that correspond to five emotions
when the user clicks a buttont the storeEmotion function will execute
saving the emotion as a number and closing the pop-up-->
<div class = "mentalwellnessemotionbuttons">
    <mat-label class = "title">How are you feeling today?</mat-label><p></p>
    <button mat-raised-button (click)="storeEmotion('Terrible')"class = "terrible-button" type = "emotion"></button>
    <button mat-raised-button (click)="storeEmotion('Bad')"class = "bad-button" type = "emotion"></button>
    <button mat-raised-button (click)="storeEmotion('Average')"class = "average-button" type = "emotion"></button>
    <button mat-raised-button (click)="storeEmotion('Good')"class = "good-button" type = "emotion"></button>
    <button mat-raised-button (click)="storeEmotion('Excellent')"class = "excellent-button" type = "emotion"></button>
</div>




