<body>
    <div class="container">
        <div class="row mobile-only">
            <div class="col">
                <button mat-flat-button color="accent" (click)="goToAnotherPage('workout_info')">
                    <h1>Workout</h1>
                </button>
            </div>
            <div class="col">
                <button mat-flat-button color="accent" (click)="goToAnotherPage('calorieinformation')">
                    <h1>Nutrition</h1>
                </button>
            </div>
        </div>
        <div class="row mobile-only">
            <div class="col">
                <h1>Welcome back, user</h1>
                <button mat-flat-button color="accent">
                    <h1>Wellness Check</h1>
                </button>
            </div>
            <div class="col" *ngIf="showMentalHealth">
                <button mat-icon-button (click)="openDialog()" class="mentalwellnesspopupbutton" type="send-button">How
                    are you feeling?</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h1>Goal</h1>
                <ul>
                    <li>
                        <p>Lose 10 pounds in 2 months</p>
                    </li>
                    <li>
                        <p>Feel good about myself</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <h1>Achievements</h1>
                <div class="trophy-container">
                    <button mat-icon-button class="trophy-button" disabled></button>
                    <mat-label class="trophy-label">{{trophyAmount}}</mat-label>
                </div>
            </div>
            <div *ngIf="showMentalHealth">
                <button mat-icon-button (click)="openDialog()" class="mentalwellnesspopupbutton" type="send-button">How
                    are you feeling?</button>

            </div>

        </div>

        <div *ngIf="showGraphToggle===true || showGraphToggle===null">
            <div class="row">
                <div class="col-sm">
                    <h1>Workout Progress</h1>
                    <!-- <img src="../../assets/workout-progress-filler.png" alt="Workout-Progress-filler" class="img-filler"> -->
                    <div class="chart-container">
                        <canvas id="workoutChart">{{ workout_chart }}</canvas>
                    </div>
                </div>
                <div class="col-sm">
                    <h1>Today's Calorie Info</h1>
                    <!-- <img src="../../assets/calorie-tracker-filler.png" alt="Calorie-Tracker-filler" class="img-filler"> -->
                    <div class="chart-container">
                        <canvas id="CalorieChart">{{ calorie_chart }}</canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>