<div class="form-container">
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
    <div class="box">
      <h1 class="header">Password Recovery</h1>
      <!--Username entry box, make it required, formControlName = username-->
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" class="form-control" formControlName="username" required>
      </mat-form-field>
      <!--Email entry box, make it required, formControlName = email-->
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" class="form-control" formControlName="email" required>
      </mat-form-field>
      <!--Submit button-->
      <div class="button-group">
        <button mat-flat-button color="primary" class="continue" style="font-family: Arial"
          type="submit">Continue</button>
      </div>
    </div>
  </form>
  <div class="colored-pane"></div>
</div>